<launch>
  <arg name="droneip" default="192.168.1.1" />
  <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="screen" args="-ip $(arg droneip)">
    <param name="navdata_demo" value="False" />
    <param name="realtime_navdata" value="False" />
    <param name="realtime_video" value="True" />
    <param name="looprate" value="30" />
    <param name="outdoor" value="False" />
    <param name="flight_without_shell" value="True" />
    <param name="indoor_altitude_max" value="1500" />
    <param name="altitude_max" value="1500" />
    <param name="altitude_min" value="50" />
    <param name="control_vz_max" value="2000" />
    <param name="control_yaw" value="9" />
    <param name="indoor_control_vz_max" value="2000" />
    <param name="indoor_control_yaw" value="9" />
    <param name="control_level" value="1" />

    <param name="flying_mode " value="0" />
    <param name="detect_type" value="0" />
    <param name="hovering_range" value="0" />

  </node>
  <node name="drop" pkg="topic_tools" type="drop" output="screen" args="/ardrone/bottom/image_raw 1 2"></node>

  <node name="keyboard_controller" pkg="ardrone_project" type="keyboard_controller.py" output="screen">
  </node>
  <node name="drone_controller" pkg="ardrone_project" type="drone_controller.py" output="screen">
  </node>
  <node name="image_converter" pkg="ardrone_project" type="image_converter.py" output="screen">
  </node>
  <node name="central_control_unit" pkg="ardrone_project" type="central_control_unit.py" output="screen">
  </node>
  <node name="follow_controller" pkg="ardrone_project" type="follow_controller.py" output="screen">
  </node>
  <node name="take_off_unit" pkg="ardrone_project" type="take_off_unit.py" output="screen">
  </node>
  <node name="land_unit" pkg="ardrone_project" type="land_unit.py" output="screen">
  </node>
</launch>
